@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Comfortaa';
}

body {
    background-color: #F6F5F5;
    overflow-x: hidden;
}

.font-logo {
    font-family: 'italiana';
}
.font-forum{
    font-family: 'Forum';
}

.hover-effect:hover svg {
    fill: #F6F5F5;
}

.shadow-barra-pesquisa {
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.06);
}

.shadow-contato {
    -webkit-box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.1);
}